<div *ngIf="authError" class="row">
    <div class="col mb-3 text-danger text-center m-3">{{authError}}</div>
</div>
<div *ngIf="authError" class="row">
    <div class="col mb-3 text-success text-center m-3">{{authError}}</div>
</div>
<form [formGroup]="form" class="auth-form resetpass-form">                
    
    <div class="password mb-3">
        <label class="col-form-label-sm" for="password">Current Password</label>
        <input formControlName="current_password" id="current_password" name="current_password" type="password" class="form-control signup-password" 
        [ngClass]="{ 'is-invalid': submitted && f.current_password.errors }"
        placeholder="Current password" required="required">


        <div *ngIf="submitted && f.current_password.errors" class="invalid-feedback text-left">
            <div *ngIf="f.current_password.errors.required">Current Password is required</div>
            <div *ngIf="f.current_password.errors.server_error"> {{f.current_password.errors.server_error}}</div>
          </div>


    </div>
    
    <div class="password mb-3">
        <label class="col-form-label-sm " for="new_password">New Password</label>
        <input formControlName="new_password" id="password" name="new_password" type="password" class="form-control signup-password" 
        [ngClass]="{ 'is-invalid': submitted && f.new_password.errors }"
        placeholder="Create a password" required="required">


        <div *ngIf="submitted && f.new_password.errors" class="invalid-feedback text-left">
            <div *ngIf="f.new_password.errors.required">Password is required</div>
            <div *ngIf="f.new_password.errors.server_error"> {{f.new_password.errors.server_error}}</div>
          </div>


    </div>
    <div class="password mb-3">
        <label class=" col-form-label-sm" for="confirm_password">Password</label>
        <input formControlName="confirm_password" id="confirm_password" name="confirm_password" type="password" class="form-control confirm_password" 
        
        [ngClass]="{ 'is-invalid': submitted && f.confirm_password.errors }"
        
        placeholder="Confirm password" required="required">


        <div *ngIf="submitted && f.confirm_password.errors" class="invalid-feedback text-left">
            <div *ngIf="f.confirm_password.errors.required">Confirm password is required</div>
            <div *ngIf="f.confirm_password.errors.server_error">{{f.confirm_password.errors.server_error}}</div>
          </div>

    </div>
</form>