<div class="bg-white h-100" id="sidebar-wrapper" [ngClass]="{ 'toggled': !(showSideNav | async) }">
    <div class="sidebar-heading text-center py-3 text-white bg-primary fs-4 fw-bold text-uppercase border-bottom shadow-lg mb-2"><i
            class="fas fa-user-secret me-2"></i>Codersbite</div>
    <div class="list-group list-group-flush my-3">
        <a [routerLink]="[]" class="list-group-item list-group-item-action bg-transparent second-text active"><i
                class="fas fa-tachometer-alt me-2"></i>Dashboard</a>
        <a [routerLink]="[]" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                class="fas fa-project-diagram me-2"></i>Projects</a>
        <a [routerLink]="[]" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                class="fas fa-chart-line me-2"></i>Analytics</a>
        <a [routerLink]="[]" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                class="fas fa-paperclip me-2"></i>Reports</a>
        <a [routerLink]="[]" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                class="fas fa-shopping-cart me-2"></i>Store Mng</a>
        <a [routerLink]="[]" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                class="fas fa-gift me-2"></i>Products</a>
        <a [routerLink]="[]" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                class="fas fa-comment-dots me-2"></i>Chat</a>
        <a [routerLink]="[]" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                class="fas fa-map-marker-alt me-2"></i>Outlet</a>
        <a [routerLink]="[]" (click)="logout()" class="list-group-item list-group-item-action bg-transparent text-danger fw-bold"><i
                class="fas fa-power-off me-2"></i>Logout</a>
    </div>
</div>